import libraries > basic calculations > convert strings, dates, and time in proper format; check if null values are present or not >

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.ensemble import RandomForestRegressor

In [3]:
df = pd.read_csv("E:\machine learning projects\DOGE-USD.csv")

In [4]:
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,2017-11-09,0.001207,0.001415,0.001181,0.001415,0.001415,6259550.0
1,2017-11-10,0.001421,0.001431,0.001125,0.001163,0.001163,4246520.0
2,2017-11-11,0.001146,0.001257,0.001141,0.001201,0.001201,2231080.0
3,2017-11-12,0.001189,0.001210,0.001002,0.001038,0.001038,3288960.0
4,2017-11-13,0.001046,0.001212,0.001019,0.001211,0.001211,2481270.0
...,...,...,...,...,...,...,...
1756,2022-08-31,0.061534,0.063333,0.061058,0.061330,0.061330,309748693.0
1757,2022-09-01,0.061336,0.062479,0.060194,0.062372,0.062372,328765413.0
1758,2022-09-02,0.062372,0.062712,0.060947,0.061635,0.061635,273453013.0
1759,2022-09-03,NaN,NaN,NaN,NaN,NaN,NaN
1760,2022-09-04,0.062682,0.062744,0.062667,0.062696,0.062696,297513408.0

In [5]:
df.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2017-11-09  0.001207  0.001415  0.001181  0.001415   0.001415  6259550.0
1  2017-11-10  0.001421  0.001431  0.001125  0.001163   0.001163  4246520.0
2  2017-11-11  0.001146  0.001257  0.001141  0.001201   0.001201  2231080.0
3  2017-11-12  0.001189  0.001210  0.001002  0.001038   0.001038  3288960.0
4  2017-11-13  0.001046  0.001212  0.001019  0.001211   0.001211  2481270.0

In [6]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
1756,2022-08-31,0.061534,0.063333,0.061058,0.061330,0.061330,309748693.0
1757,2022-09-01,0.061336,0.062479,0.060194,0.062372,0.062372,328765413.0
1758,2022-09-02,0.062372,0.062712,0.060947,0.061635,0.061635,273453013.0
1759,2022-09-03,NaN,NaN,NaN,NaN,NaN,NaN
1760,2022-09-04,0.062682,0.062744,0.062667,0.062696,0.062696,297513408.0

In [7]:
df.corr()

C:\Users\Khurana_Kunal\AppData\Local\Temp\ipykernel_17868\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

               Open      High       Low     Close  Adj Close    Volume
Open       1.000000  0.993904  0.993707  0.992514   0.992514  0.554850
High       0.993904  1.000000  0.986497  0.995104   0.995104  0.619321
Low        0.993707  0.986497  1.000000  0.994575   0.994575  0.519991
Close      0.992514  0.995104  0.994575  1.000000   1.000000  0.588678
Adj Close  0.992514  0.995104  0.994575  1.000000   1.000000  0.588678
Volume     0.554850  0.619321  0.519991  0.588678   0.588678  1.000000

## convering strings, dates and time in proper format

In [16]:
df['Date'] = pd.to_datetime(df['Date'], infer_datetime_format = True)

df.set_index('Date', inplace = True)

df.isnull().any()

KeyError: 'Date'

In [15]:
df['Date'] = pd.to_datetime(df['Date'],
							infer_datetime_format=True)
df.set_index('Date', inplace=True)

KeyError: 'Date'